/* General Styles */

*{
  color: $text_color;
}

.page-content{
  background: $site_gray--light;
}

.btn-round{
  @extend .btn;

  background: transparent;
  color: $site_blue;
  border: 2px solid $site_blue;
  padding: 12px 24px;
  border-radius: 30px;
  @include transition(color, 250ms);
  @include transition(background, 250ms);
  @include transition(border, 250ms);

  &:hover{
    background: darken($site_gray--light, 5%);
    border: 2px solid darken($site_blue, 15%);
    color: darken($site_blue, 15%);
  }
}