/* General Styles */

*{
  color: $text_color;
}

.page-content{
  background: $site_gray--light;
}

.bg-green{
  background: $site_green;
}

.bg-orange{
  background: orange;
}

.bg-red{
  background: red;
}