/* Mobile Styles (width < 768px)*/

.search {
  display: none;
  padding: 30px 0;
  background: #f5f7f9;
  border-bottom: 1px solid #cccccc;
  h3 {
    margin: 0 0 15px;
  }
  .form-group {
    width: 100% !important;
  }
  input[type="text"] {
    width: 80% !important;
    display: inline !important;
  }
  button {
    width: 18% !important;
  }
}

.call {
  display: none;
  padding: 30px 0;
  background: #f5f7f9;
  border-bottom: 1px solid #cccccc;
  h3 {
    margin: 0 0 15px;
  }
  h4 {
    text-align: center;
  }
  a {
    display: block;
    margin: auto;
  }
}

.hospital-locations {
  display: none;
  padding: 30px 0;
  background: #f5f7f9;
  border-bottom: 1px solid #cccccc;
  h3 {
    margin: 0 0 15px;
  }
  .departments {
    text-align: center;
    a {
      @extend .btn;
      @extend .btn-default;
      @extend .btn-block;

      background: $site_blue;
      color: white;
      @include transition(background, 250ms);

      &:hover {
        background: lighten($site_blue, 10%);
        color: white;
      }
      &:visited, &:active, &:focus {
        background: $site_blue !important;
        color: white !important;
      }
    }
  }
}

.hospital-info {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
  &--left {
    a {
      img {  }
    }
  }

  &--right {
    display: block;
    margin: auto;
    max-width: 300px;

    .wait-time--heading {
      display: block;
      text-align: right;
      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: #ddd;
        margin: 12px 0;
      }
    }
    .wait-time-left {
      display: inline-block;
      text-align: right;
      margin-right: 5px;
      .location {
        display: block;
      }
      .time {
        color: $site_blue !important;
      }
    }
    .wait-time-right {
      display: inline-block;
      text-align: center;
      .timer {
        color: white;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 11px; font-weight: 100; letter-spacing: 2px; padding: 13px 13px 5px;
        .timer-amount {
          color: inherit;
          display: block;
          font-size: 22px; line-height: 17px; letter-spacing: normal;
        }
      }
    }
  }
}

.page-heading {
  h1 {
    font-weight: 400;
    margin: 30px 0 0;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 170px;
      margin: 15px 0 15px;
      background: $site_blue;
    }
  }

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 30px;
    li {
      color: #cccccc;
      font-weight: 300;
      font-size: 13px;
      a {
        i {
          color: $site_blue;

          &:hover {
            color: darken($site_blue, 10%);
          }
        }
      }
    }
  }
}

.page-content {
  padding: 30px 0 50px;
  h3 {
    padding-bottom: 45px;
    margin: 0;
    font-weight: 200;
  }
}