$nav_bg: white;
$navbar-nav-bg: $site_gray--light;

$link_text_color--default: $text_color--light;
$link_text_bg--hover: $site_gray--light;

$icon_color--default: $text_color--light;
$icon_color--hover: $site_blue;

$link_font_size--xs: 12px;
$link_font_size--sm: 14px;
$link_font_size--md: 14px;

.navbar {
  border: none;
  background: $nav_bg;
  margin-bottom: 0;
  position: initial;
  border-top: 5px solid $site_blue;
  border-bottom: 1px solid #cccccc;
  .nav-container {
    @extend .container-fluid;

    max-width: 1400px;
  }
  &-header {
    //border-bottom: 1px solid #cccccc;
    .navbar-toggle {
      //right : -15px;
      border: none;
      background: transparent !important;
      padding: 15px 0;
      &:hover {
        background: transparent !important;
      }
      .icon-bar {
        width: 22px;
        transition: all 0.2s;
        background: $site_blue;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }
    .icon-group {
      position: fixed;
      bottom: 0;
      border-top: 1px solid $icon_color--default;
      background: white;
      width: 100%;
      margin: 0;
      opacity: 1;
      z-index: 1;
      text-align: center;
      padding: 10px;
      li {
        a {
          color: $icon_color--default;
          font-size: 18px;
          padding: 15px;

          i {
            @include transition(color, 250ms);
          }

          &:hover {
            i {
              color: $icon_color--hover;
            }
          }
        }

        .login_btn {
          background: none;
          font-size: 18px;
          border: none;
          outline: none !important;
          .heart {
            color: red;

            &:hover {
              color: darken(red, 5%);
            }
          }
        }
      }
    }
    .navbar-brand {
      img {
        width: 150px;
      }
    }
  }
  &-collapse {
    border: 1px solid #cccccc;
    .navbar-nav {
      margin: 0 -15px;
      background: $navbar-nav-bg;
      li {
        a {
          color: $link_text_color--default;
          padding: 15px;
          @include transition(background, 250ms);
          @include transition(color, 250ms);

          &:hover {
            color: darken($link_text_color--default, 10%);
            background: darken($link-text_bg--hover, 2%);
          }
        }
      }
    }
  }
}

/* Tablet and up */
@media (min-width: $screen-sm) {
  .navbar {
    .nav-container {
    }
    &-header {
      float: right;
      .navbar-toggle {
        &:hover {  }
        .icon-bar {  }
        .top-bar {  }
        .middle-bar {  }
        .bottom-bar {  }
        &.collapsed {
          .top-bar {  }
          .middle-bar {  }
          .bottom-bar {  }
        }
      }
      .icon-group {
        float: none;
        padding: 15px 0;
        position: relative;
        border-top: none;
        background: transparent;
        li {
          a {
            padding: 5px;

            i {  }

            &:hover {
              i {  }
            }
          }

          .login_btn {
            .heart {

              &:hover {  }
            }
          }
        }
      }
    }
    &-collapse {
      border: none;
      .navbar-nav {
        background: transparent;
        li {
          a {
            padding: 20px 15px;

            &:hover {
              color: darken($link_text_color--default, 25%);
              background: transparent;
            }
          }
        }
      }
    }
  }
}

/*Medium devices (laptops, 992px to 1199px)*/
@media (min-width: $screen-md) {
  .navbar {
    &-header {
      .navbar-brand {  }
    }
    &-collapse {
      .navbar-nav {
        li {
          a {
            font-size: $link_font_size--md;
            &:hover, &:visited {  }
          }
        }
        .active {
          a {
            &:hover, &:visited {  }
          }
        }
      }
    }
  }
}
