/* Small devices (tablets, 768px to 992px) */
@media (min-width: $screen-sm) {

  .hospital-info {
    &--left {
      a {
        img {
          width: 220px;
          margin-top: 30px;
        }
      }
    }

    &--right {
      float: right;
      .wait-time--heading {
        text-align: right;
        &:after {  }
      }
      .wait-time-left {
        .location {  }
        .time {  }
      }
      .wait-time-right {
        .timer {
          .timer-amount {  }
        }
      }
    }
  }

  .page-heading {
    h1 {
      margin: 68px 0 0;

      &:after {
        margin: 20px 0 20px;
      }
    }

    .breadcrumb {
      li {
        a {
          i {
            &:hover {  }
          }
        }
      }
    }
  }

  .page-content {
    padding: 50px 0 95px;
    h3 {
      margin: 0;
    }
  }
}